@model IEnumerable<OSES.Models.OSES.Student>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.matric_no)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.first_name)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.last_name)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.othername)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Programme)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.room_no)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.HallofReside)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.matric_no)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.first_name)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.last_name)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.othername)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Programme)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.room_no)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.HallofReside)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.matric_no }) |
            @Html.ActionLink("Details", "Details", new { id=item.matric_no }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.matric_no })
        </td>
    </tr>
}

</table>
