@model OSES.Models.OSES.Exeat

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>Exeat</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.official)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.official)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Title)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Title)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Body)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Body)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Depart)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Depart)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Arrive)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Arrive)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.matric_no)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.matric_no)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ExeatType)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ExeatType)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.Id }) |
    @Html.ActionLink("Back to List", "Index")
</p>
